<% provide(:title, 'プロフィール編集') %>

<div class="container">
  <h2>プロフィールの編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :ユーザーネーム %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :プロフィール画像 %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :プロフィール %><br />
      <%= f.text_field :profile, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :パスワードの変更 %> <i>(変更時のみ入力してください)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> 文字以上で入力してください</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :パスワードの変更確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :現在のパスワード %> <i>(パスワードを変更する際は入力してください)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "情報の更新", class: "btn btn-primary" %>
    </div>
  <% end %>

  <h3>アカウントの削除</h3>

  <%= button_to "アカウントの削除", registration_path(resource_name),
      data: { confirm: "削除しますか?" }, method: :delete, class: "btn btn-danger" %>

  <div id="edit_back">
    <%= link_to "戻る", :back %>
  </div>
</div>
