<%= form_for(@micropost) do |f| %>
<span class="controls">
  <%= f.text_field :start_at, data: { :date_format => 'YYYY/MM/DD hh:mm' },
      :class => 'form-control datetimepicker', placeholder: '開始時刻' %>
  <%= f.text_field :end_at, data: { :date_format => 'YYYY/MM/DD hh:mm' },
      :class => 'form-control datetimepicker', placeholder: '終了時刻' %>
</span>
  <div class="field">
    <%= f.text_area :content, placeholder: "一言メモ" %>
  </div>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit "学習時間を記録", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
