<% provide(:title, '学習データ') %>

<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= render 'user_info' %>
    </section>
    <section class="stats">
      <%= render 'stats' %>
    </section>
  </aside>
  <div class="col-md-6">
    <h3>学習時間グラフ</h3>
    <%= javascript_include_tag 'Chart.min' %>
    <%= render 'layouts/studytime_graph'%>
  </div>
  <div class="col-md-3">
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.microposts.any? %>
      <h3>学習の記録 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    <% end %>
  </div>
</div>
