<div class="graph" id="first-graph">
  <canvas id="DayChart"></canvas>
  <script>
  var ctx = document.getElementById("DayChart").getContext('2d');
  var dayChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: <%= @day_labels.to_json.html_safe %>,
      datasets: [{
        label: "1日の学習時間 (分)",
        data: <%= [@daytime_before_4days,@daytime_before_3days,@daytime_before_2days,@daytime_before,@daytime] %>,
        backgroundColor: 'rgba(152, 251, 152, 0.5)',
        borderColor: 'rgba(35, 150, 35, 1.0)',
        borderWidth: 1,
        fill: false
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });
  </script>
</div>
<div class="graph">
  <canvas id="WeekChart"></canvas>
  <script>
  var ctx = document.getElementById("WeekChart").getContext('2d');
  var weekChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels:　["4週間前","3週間前","2週間前","先週","今週"],
      datasets: [{
        label: "1週間の学習時間 (分)",
        data: <%= [@weektime_before_4weeks,@weektime_before_3weeks,@weektime_before_2weeks,@weektime_before,@weektime] %>,
        backgroundColor: 'rgba(152, 251, 152, 0.5)',
        borderColor: 'rgba(35, 150, 35, 1.0)',
        borderWidth: 1,
        fill: false
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });
  </script>
</div>
<div class="graph">
  <canvas id="MonthChart"></canvas>
  <script>
  var ctx = document.getElementById("MonthChart").getContext('2d');
  var monthChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: <%= @month_labels.to_json.html_safe %>,
      datasets: [{
        label: "1ヶ月の学習時間 (分)",
        data: <%= [@monthtime_before_4months,@monthtime_before_3months,@monthtime_before_2months,@monthtime_before,@monthtime] %>,
        backgroundColor: 'rgba(152, 251, 152, 0.5)',
        borderColor: 'rgba(35, 150, 35, 1.0)',
        borderWidth: 1,
        fill: false
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });
  </script>
</div>
